.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
  .title {
    animation: title-animation 3s infinite linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes title-animation {
  0% { color: red;}
  14% { color: orange;}
  28% { color: yellow;}
  42% { color: lime;}
  56% { color: aqua;}
  70% { color: blue;}
  84% { color: magenta;}
  100% { color: red;}
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(0.5);
  } 50% {
    transform: rotate(-180deg) scale(1);
  }
  100% {
    transform: rotate(-360deg) scale(0.5);
  }
}

.App-body {
  align-items: center;
  font-size: large;
  width: 90vw;
  margin: auto;
}

.input {
  width: 30vw;
  padding: 1rem;
  font-size: large;
}

.inline {
  align-items: center;
  display: flex
}

.burrito {
  font-weight: bold;
}

.wrap {
  font-style: italic;
  color: burlywood;
}

.sauce {
  color: limegreen
}

.hot {
  color: red;
}

.custom {
  color: yellow;
}

.burrito-area {
  background-color: rgb(10, 10, 63);
  padding: 3em
}

.button {
  padding: 2em;
  background-color: orange;
  border-radius: 1rem;
  border-width: 0;
  font-weight: bold;
  margin: 2em;
}

.reset-button {
  padding: 1em;
  background-color: orange;
  border-radius: 1rem;
  border-width: 0;
  font-weight: bold;
  margin: 2em;
}